* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7b62af5;
}

a {
    text-decoration: none;
    color: rgb(84, 179, 182);
}

a:hover {
    color: rgb(122, 0, 128);
}

p {
    color: rgb(254, 254, 254);
}

header>img {
    background-position: center;
    width: auto;
    height: 600px;
    margin: auto;
    padding: 20px;
    display: block;
}

.title {
    font-size: 100px;
    color: rgb(84, 179, 182);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: none;
}

.body {
    color: ;
    font-size: 100px;
}

h1.class {
    font-size: ;
}

.p1 {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 25px;
    margin: 50px;
}

.p2 {
    font-size: 20px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 25px;
    margin: 50px;
}

h3 {
    font-size: 40px;
    padding: 10px;
    color: white
}

.lists {
    font-size: 20px;
    color: white;
    font-display: center;
    padding-left: 50px;
    margin-left: 50px;
}
